/* основной цвет текста 757575 */
/* основной цвет заголовков  212121 */
/* основной цвет фона FFFFFF */
/* цвет ссылок и кнопок 2196F3 */
/* цвет фона герой, футтер 2F303A */
/* цвет фона секций, кнопок F5F4FA */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --button-link-color: #2196f3;
  --futter-hero-bgc: #2f303a;
  --section-bgc: #f5f4fa;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  position: relative;
  letter-spacing: 0.03em;
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto";
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* header*/

.header {
  background-color: #ffffff;
}
.header > .container {
  display: flex;
  align-items: center;
}
.logotyp {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: var(--button-link-color);
}
.logotyp span {
  color: #000000;
}
.navigation .nav-link-active {
  color: var(--button-link-color);
}
.navigation .nav-link {
  color: var(--title-text-color);
}
.contacts a {
  color: var(--primary-text-color);
}
.main-nav {
  display: flex;
}
.main-nav > .item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contacts {
  display: flex;
  font-size: 14px;
  margin-left: auto;
}
.tel {
  margin-right: 50px;
}
/*Hero*/

.hero-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;

  margin-bottom: 30px;
}
.hero .container {
  display: block;
  align-content: center;
}

.button-on {
  cursor: pointer;
  display: block;
  box-sizing: content-box;
  margin-right: auto;
  margin-left: auto;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--button-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button-on:focus,
.button-on:hover {
  color: #ffffff;
}
h2,
h3 {
  color: var(--title-text-color);
}

/*future*/
.futures {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.future-section {
  padding-top: 94px;
  padding-bottom: 0;
  display: block;
}
.future {
  display: flex;
  margin: 0;
  padding: 0;
}
.future-tittle:not(:last-child) {
  margin-right: 10px;
}
.subtittle {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.discription {
  line-height: 1.71;
}
.work-type {
  display: flex;
}
.work-type > .link:not(:last-child) {
  margin-right: 30px;
}
.tittle {
  margin-bottom: 50px;
  text-align: center;
}
.working {
  display: block;
  padding-top: 94px;
  padding-bottom: 0;
  margin-bottom: 94px;
}

/*Наша команда*/
.our-team {
  display: block;
  padding-top: 94px;
  padding-bottom: 0;
  margin-bottom: 94px;

  background-color: var(--section-bgc);
}
.team {
  display: flex;
}
.team > .link-photo:not(:last-child) {
  margin-right: 30px;
}
.photo {
  margin-top: 0;
  margin-bottom: 30px;
}
.name {
  margin-bottom: 10px;
}
.prof {
  margin-bottom: 30px;
}
.name,
.prof {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/*footer*/

.footer-logo {
  display: inline-block;

  margin-top: 60px;
  margin-bottom: 20px;
}
footer,
.hero {
  background-color: var(--futter-hero-bgc);
}

footer .logotyp span {
  color: #ffffff;
}
.adress-footer,
.contacts-footer {
  display: block;
  line-height: 1.71;
  margin-bottom: 9px;
}
.adress-footer {
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.contacts-footer a {
  padding: 0;
  margin: 0;

  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.contacts-footer > .contacts:nth-child(2n) {
  display: inline-block;
  margin-bottom: 60px;
}

/*portfolio*/
.portfolio {
  border-bottom: 1px solid #ececec;
}
.filtre {
  margin-bottom: 94px;
  padding-top: 94px;
  padding-bottom: 0;
}
.filtre-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;

  height: 54px;
}
.filtre-buttons > .button-next:not(:last-child) {
  margin-right: 8px;
}
.filtre-button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border-style: none;
  outline: none;
  text-align: center;
  font-family: Roboto;
  color: var(--title-text-color);
  background-color: var(--section-bgc);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 6px 22px;
}

.filtre-button:hover,
.filtre-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.work-link {
  margin-bottom: 30px;

  width: calc((100%-2 * 30px) / 3);

  border: 1px solid #eeeeee;
}
.work-link img {
  margin-bottom: 20px;
}

.work-expirience-tittle {
  margin-bottom: 4px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.work-expirience-text {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.navigation a:hover,
.contacts a:hover,
.navigation a:focus,
.contacts a:focus {
  color: var(--button-link-color);
}

.work-expirience {
  display: flex;
  flex-wrap: wrap;
}
